*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 7.5vmin;
  width: 90vmin;
}

/* 
 * TITLE
 */

.title {
  color: #ccc;
  margin-bottom: 0;
  font-size: 7vmin;
}

.subtitle {
  color: #ccc;
  font-size: 3vmin;
  margin-top: 0;
  margin-bottom: 8vmin;
}

/*
 * GAME BOARD
 */

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ccc;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
  margin-bottom: 5vmin;
}

.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

/* 
 * FOOTER
 */

.tips {
  font-size: 3vmin;
  color: #ccc;
}

.footer-heart {
  text-align: center;
  font-family: open sans, sans-serif;
  font-size: 2vmin;
  color: #ccc;
}

.footer-heart a {
  /* border-bottom: 1px solid hsl(250, 41%, 68%); */
  color: hsl(250, 41%, 68%);
  padding-bottom: 0.25em;
  text-decoration: none;
}

.footer-heart a:hover {
  color: #2196f3;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.emoji {
  vertical-align: middle;
}
